node_modules
.svelte-kit
build
.env
.env.*
!.env.example
.git
.gitignore
.kilocode
docs/UI_Inspo
*.db
*.db-journal
*.db-shm
*.db-wal
bun.lock
# package-lock.json
molos_data/
(external_modules)
external_modules/
molos.db
./src/routes/api/(external_modules)/*
./src/routes/ui/(modules)/(external_modules)/*
./src/lib/config/external_modules/*
./src/lib/components/external_modules/*
./src/lib/models/external_modules/*
./src/lib/repositories/external_modules/*
./src/lib/stores/external_modules/*
./src/lib/utils/external_modules/*
./src/lib/server/ai/external_modules/*
./src/lib/server/db/schema/external_modules/*