apiVersion: v1
kind: PersistentVolume
metadata:
  name: molos-data-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /var/lib/molos
    type: DirectoryOrCreate
